@import url("./node_modules/swiper/swiper-bundle.css");

.swiper--gradient {
  position: absolute;
  width: 24px;
  height: 81px;
  right: 0;
  top: 18.39%;
  bottom: 14.29%;
  background: linear-gradient(270deg, rgb(248, 248, 248) 16.836%, rgba(248, 248, 248, 0) 100%);
  z-index: 100;
}

.swiper {
  min-width: 320px;
  height: auto;
}

.repair-swiper {
  min-width: 0px;
  height: auto;
}

.repair-swiper-title {
  color: rgb(126, 126, 130);
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-align: left;
  text-transform: uppercase;
  padding: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

.swiper {
  background: rgb(248, 248, 248);
  position: relative;
  max-height: 130px;
}

.swiper-pagination {
  --swiper-pagination-bullet-width: 12px;
  --swiper-pagination-bullet-height: 12px;
  --swiper-pagination-color: #b5b6bc;
  --swiper-pagination-bullet-horizontal-gap: 6px;
}

.swiper-wrapper {
  position: relative;
  list-style: none;
  margin-top: -80px;
  height: 266px;
}

.swiper-slide {
  width: 240px;
}

.swiper-slide__button {
  position: absolute;
  left: 16px;
  top: 96px;
  box-sizing: border-box;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 6px;
  background: rgb(255, 255, 255);
  height: 72px;
  width: 224px;
  margin-right: -100px;
  display: inline-flex;
  align-items: center;
}

.swiper-slide__button-icon {
  height: 40px;
  width: auto;
  margin-left: auto;
  margin-right: 8px;
}

.swiper-slide__button-brand {
  margin-right: auto;
  margin-left: 8px;
}

@media (max-width: 767.99px) {
  .repair-brands {
    display: none;
  }
}

@media (min-width: 767.99px) {
  .swiper--gradient {
    display: none;
  }
  .repair-swiper {
    position: relative;
  }
  .swiper-pagination {
    display: none;
  }
  .repair-brands {
    display: block;
  }
  .swiper-slide:nth-child(n + 7) {
    display: none;
  }
  .swiper-wrapper {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    height: auto;
    top: 50px;
    gap: 5px;
    justify-content: start;
    padding-left: 30px;
    background: rgb(248, 248, 248);
  }
  .repair-swiper-title {
    background: rgb(255, 255, 255);
  }
  .repair-swiper {
    background: rgb(248, 248, 248);
  }

  .mySwiper {
    height: auto;
    display: inline-flex;
    flex-wrap: wrap;
  }

  .swiper-slide {
    height: 80px;
    width: 240px;
  }

  .swiper-slide__button {
    position: static;
    box-sizing: border-box;
    border: 1px solid rgb(234, 234, 234);
    border-radius: 6px;
    background: rgb(255, 255, 255);
    height: 72px;
    margin-right: -100px;
    display: inline-flex;
    align-items: center;
  }
}

@media (min-width: 1119.99px) {
  .swiper-slide:nth-child(n + 7) {
    display: block;
  }
  .swiper-slide:nth-child(n + 9) {
    display: none;
  }
}

.button-read-more {
  width: 136px;
  height: 24px;
  border: none;
  background-color: rgb(248, 248, 248);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.1px;
  font-weight: bold;
  margin-left: 57px;
  margin-bottom: 16px;
  color: rgb(27, 28, 33);
  background: url("/icons/arrows.svg") left no-repeat;
  margin-top: 72px;
}

.swiper-slide.visibale {
  display: block;
}
